body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

#search {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 8px;
    width: 250px;
}